# Environment Variables (Secrets)
.env

# Python
__pycache__/
*.pyc

# Mac Code Artifacts
.DS_Store

# Local Data / Cache (Optional - keep these local)
fetched_commits.csv
my_placement_logs.csv
Updated_Record_Book.xlsx
~$*.xlsx

# Virtual Environment
venv/
env/
.venv/
